@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --black: #000000;
  --catalina: #06327d;
  --bluetiful: #2b70e4;
  --vegan: #209d5c;
  --sunglow: #ffd034;
  --white: #ffffff;
  --lightblue: #cadbf8;
  --mainfont: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: var(--mainfont);
  padding: 0;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.5;
  background-color: var(--catalina);
}
.top-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

h1,
h2,
h3 {
  line-height: 1.667;
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  font-size: 3rem;
  margin: 0;
  color: var(--white);
}

h2 {
  fon1.1667t-size: 2.5rem;
}

img {
  max-width: 100%;
}

.logo {
  height: 80px;
  justify-content: space-between;
  border-radius: 10px;
}
header {
  background-color: var(--catalina);
  border-bottom: 10px solid var(--sunglow);
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  padding: 3rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}

nav a {
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.3rem;
}

nav a:hover {
  color: var(--sunglow);
}
main {
  padding: 0rem;
  background-color: var(--lightblue);
  gap: 2rem;
}
.coffee-and-code {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 3rem;
  align-items: center;
  background-color: var(--white);
}

.grid {
  background-color: var(--lightblue);
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.button {
  display: inline-block;
  text-transform: uppercase;
  background-color: var(--vegan);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  color: var(--white);
  border-radius: 10px;
}

.button2 {
  background-color: var(--catalina);
  display: inline-block;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  color: var(--white);
  text-decoration: none;
  border-radius: 10px;
}

.button:hover {
  background-color: #25b86c;
}

.button2:hover {
  background-color: var(--bluetiful);
}

footer {
  color: var(--white);
  text-align: center;
  padding: 3rem;
  border-top: 10px solid var(--sunglow);
  background-color: var(--catalina);
}

@media (min-width: 650px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  h2 {
    grid-template-columns: 1fr 1fr;
  }
  header {
    justify-content: center;
  }
}
@media (min-width: 1000px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
  h2 {
    grid-template-columns: 1fr 1fr;
  }
  header {
    justify-content: space-between;
  }
}
